<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no" />
			<link rel="stylesheet" href="../../css/style.css" />
			<link rel="stylesheet" href="../../css/reset.css" />
			<title>扣款记录</title>
			<style>
				header{background:#0077FF !important;}
				header h1{color: #FFFFFF;}
			</style>
		</head>
		<body>
			<header >
				<i onclick="window.history.back();"><img src="../../img/w-back.png"/></i>
				<h1>扣款记录</h1>
			</header>
			<main class="main">
				<div class="agent-seach">
					<span>
						<img src="../../img/seach.png" />
						<input type="search" placeholder="搜索姓名查询" v-model="keywords"/>
					</span>
					<span>查询</span>
				</div>
				<div class="seach-list-warp">
					<div class="details-warp">
						<div class="details-item">
							<ul class="item-txt" v-for="item in seach(keywords)">
								<li>
									<span>姓名：</span>
									<span>{{item.real_name}}</span>
								</li>
								<li>
									<span>手机号：</span>
									<span>{{item.user_tel}}</span>
								</li>
								<li>
									<span>身份证号码：</span>
									<span>{{item.user_card}}</span>
								</li>
								<li>
									<span>开户行：</span>
									<span>{{item.bank_name}}</span>
								</li>
								<li>
									<span>银行卡号：</span>
									<span>{{item.bank_account}}</span>
								</li>
								<!-- <li>
									<span>归属业务员：</span>
									<span>林*</span>
								</li> -->
								<li>
									<span>归属公司：</span>
									<span>{{item.org_name}}</span>
								</li>
								<li>
									<span>代扣金额：</span>
									<span>￥{{item.amount}}<span>
								</li>
								
								<li>
									<span>扣款时间：</span>
									<span>{{item.create_time}}</span>
								</li>
								<!-- <li>
									<span>扣款凭证：</span>
									<span>ad45ad1asdfasd1f5sdf45sd</span>
								</li> -->
								<li>
									<span>状态：</span>
									<span class="color-blue">{{item.state}}</span>
								</li>
							</ul>
						
												
						</div>
					</div>
				</div>
			</main>
			<script src="../../js/jquery-3.5.1.js"></script>
			<script src="../../js/vue.js"></script>
			<script type="text/javascript">
				var vmm = new Vue({
					el:'.main',
					data:{
						keywords:'',
						datalist:[]
						
					},
					created(){
						this.getdata();
						this.status()
						},
					methods:{
						getdata(){
							var that = this;
							jQuery.ajax({
								type:'post',
								datatype:'json',
								async:false,
								url:'http://192.168.1.169:8484/yilian/api/deductOrder',
								
								success:function(res){
									debugger
									console.log(res)
									if(res.errorCode == 00000){
										that.datalist= res.data
										console.log(that.datalist)
									}
								},
								error:function(res){
									console.log(res)
									layer.msg(res)
								}	
								
							})
							console.log(that.datalist)
						},
						seach(keywords){
							return this.datalist.filter(item => {
								console.log(keywords);
								if (item.real_name.indexOf(keywords) != -1) {
									console.log(keywords);
									return item
								} //filter方法来循环数组返回的是一个符合条件的新数组
							})
							},
							formartDate(param) {
							 let date = new Date(param);
							 Y = date.getFullYear() + '-';
							 M = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) + '-' : date.getMonth() + 1 + '-';
							 D = date.getDate() < 10 ? '0' + date.getDate() + ' ' : date.getDate() + ' ';
							 h = date.getHours() < 10 ? '0' + date.getHours() + ':' : date.getHours() + ':';
							 m = date.getMinutes() < 10 ? '0' + date.getMinutes() + ':' : date.getMinutes() + ':';
							 s = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
							 return Y + M + D + h + m + s;
							},
					status(){
						this.datalist.map(function (item) {
						          if (item.state == 01) {
						            item.state = '交易成功'
						          } else if (item.state == 1) {
						            item.state = '交易失败'
						          } else if (item.state == 2) {
						           item.state = '交易中...'
						          } else {
						            return
						          }
						        })
						
					}
					},
					
					
					
				}) 
			</script>
	</body>
</html>
